
<div class="container rounded" >
    <h2>{{mensajeZona}}</h2>
    <table class="table table-sm">
        
        <tbody>
          <tr>
            <th scope="row">Numero de Palmeras</th>
            <td>{{info.zone}}</td>
          </tr>
          <tr>
            <th scope="row">Saludables</th>
            <td>{{info.saludables}}</td>
          </tr>
          <tr>
            <th scope="row">Escama rojas</th>
            <td>{{info.er}}</td>
          </tr>
          <tr>
            <th scope="row">Gualpa</th>
            <td>{{info.gualpa}}</td>
          </tr>
      </table>
      

</div>
