
<div class="container rounded" >
    <h2>{{mensajeZona}}</h2>
    <table class="table table-sm">
        
        <tbody>
          <tr>
            <th scope="row">Numero de Palmeras</th>
            <td>{{info.total}}</td>
          </tr>
          <tr>
            <th scope="row">Saludables</th>
            <td>{{info.saludables}}</td>
          </tr>
          <tr>
            <th scope="row">Escama rojas</th>
            <td>{{info.er}}</td>
          </tr>
          <tr>
            <th scope="row">Gualpa</th>
            <td>{{info.gualpa}}</td>
          </tr>
      </table>

      <form>
        <h2>Ingresar palmera Zona seleccionada</h2>
        <br/>
        <br/>
        <div class="form-check">
            <select class="form-control" [(ngModel)]="opcionSeleccionado">
                <option>saludable</option>
                <option>escama roja</option>
                <option>gualpa</option>
              </select>
        </div>
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary" (click)="InsertPalmera()">ingresar palmera</button>
      </form>
      

</div>
