

<h1>{{env}}</h1>
<div class = "container">
   <div class = "row">
        <div  class="col-2"></div>
        <div class ="col-8 tbodyDiv">

        
          <table class="table table-striped table-responsive-md btn-table overflow-auto tableFixHead">

            <thead>
              <tr>
                <th>Numero zona</th>
                <th>Area (metros cudrados)</th>
                <th># Palmeras</th>
                <th> </th>
              </tr>
            </thead>
          
            <tbody>
              
              <tr *ngFor="let field of zonas">

                <th scope="row"> {{field.numero}} </th>
                <td>{{field.area}}</td>
                <td>34</td>
                <td>
                  <button type="button" class="btn btn-outline-secondary">Acciones</button>
                </td>
              </tr>
              
              
            </tbody>
          
          </table>
        
        </div>
        <div class="col-2"></div>
        
      
   </div>

</div>

<router-outlet></router-outlet>
